# C# build
**/bin/
**/obj/
*.user

# IDE
**/.idea/
**/.vscode/

# Frontend
node_modules/
dist/

# Sensitive
.env
init.sql
backend/ChemBac.API/appsettings.Development.json

# Frontend cache
**/.vite/
**/node_modules/.cache/